body {
   
    background-image: url(./pexels-kawaiiart-1767434.jpg);
    background-size: cover;
}

.stopwatch {
    width: 90%;
    max-width: 600px;
    background: rgba(255, 0, 0, 0);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px;
    border-radius: 50%;
    background-color: black;
    margin: 10px;

}

button i {
    color: #fff;
    border: 0;
}