body {
    transition: background-color 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    background-color: #fff;

}

button {
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 600;
    transition: background-color 0.4s ease;
    background-color: #333;
    color: #fff;
}

.btncolor1 {
    background-color: #fff;
    color: #333;
}

.btncolor2 {
    background-color: #333;
    color: #fff;
}